@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .app-drag {
    -webkit-app-region: drag;
  }
  .app-no-drag {
    -webkit-app-region: no-drag;
  }
}
/* html.dark #root {
  background: rgb(64 67 71);
} */
.nav.visible {
  display: none !important;
}
