@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .tooltip {
    @apply bg-neutral-100 dark:bg-neutral-900 text-black  dark:text-white rounded-lg px-4 py-2 drop-shadow-lg;
  }
}
.app-drag {
  -webkit-app-region: drag;
}
.app-no-drag {
  -webkit-app-region: no-drag;
}
:root {
  --contexify-menu-minWidth: 120px;
}
